/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */
@import '_h5bp';

/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */
@import 'components/components';

$hc-blue:#1B9BE3;
$off-white:#fefefe;
$dark-gray:#212121;
$light-gray:#aaa;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background-color: #fff;
  box-sizing: border-box;
  min-height: 100%;
    background-color: $dark-gray;

}

body.open {
  overflow: hidden;
}

.app-bar {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  /*overflow: hidden;*/
  z-index: 1;

  h1{
    position:absolute;
    top: -99999px;
    left: -99999px;
  }
  img{
    width:270px;
  }
}

.app-bar-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  position: relative;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  background-color: $dark-gray;
  background: linear-gradient(#424242 4.5%, #363636);
}

.app-bar.open,
.app-bar.open ~ main {
  -webkit-transform: translate(250px, 0);
          transform: translate(250px, 0);
}

.app-bar .logo {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 2em;
  line-height: 60px;
  margin: 0 16px;
  padding: 0;
  color: #fefefe;
  float: none;
  max-width: none;
  font-weight: 300;
  display: initial;
}

.app-bar .logo-img{
  padding-left:10px;
}

.app-bar .logo a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

.app-bar-actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 2;
}

.app-bar button {
  width: 60px;
  height: 60px;
  background-image: none;
  background-color: $light-gray;
  border: none;
  padding: 0;
  display: inline-block;
  -webkit-transition: background-color 0.2s ease-out;
          transition: background-color 0.2s ease-out;
  -webkit-tap-highlight-color: transparent;
}

.app-bar button img {
  height: 24px;
  width: 24px;
}

.app-bar button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.app-bar button:focus {
  background-color: rgba(255, 255, 255, 0.2);
  outline: 0;
}

.app-bar button:active {
  background-color: rgba(255, 255, 255, 0.4);
}

.promote-layer {
  /*
  This may promote the layer to a composited
  layer.

  Replace with will-change when available

  #perfmatters
  */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.search-box{
  width: 100%;
}
.search-box form{
  padding:9px;
  padding-left:14px;
  padding-right: 30px;

  border: 1px solid #4f4f4f;
  input[type="text"]{
    border: 1px solid rgb(41, 41, 41);
    background-color:transparent;
    background-color:#4a4a4a;

    width:100%;
    height:100%;
    padding-left: 5px;
    padding-right: 30px;
  }
}

 .search-button{
    background: transparent;
    border: none;
    color: #999;
    font-size: 18px;
    margin-left: -30px;
  }

.base,
p,
ul,
ol {
  font-size: 19px;
}

.navdrawer-container {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  background-color: #3367D6;
  border-right: 6px solid $off-white;
  background: linear-gradient(#424242 4.5%, #363636);

  color: #fefefe;
  -webkit-transform: translate(-250px, 0);
          transform: translate(-250px, 0);
  overflow-y: visible;
  font-family: Arial, Verdana, Helvetica, sans-serif;
      text-transform: uppercase;
  a, label{
      
      font-size: 13px;
      font-weight: bold;
      letter-spacing:.5px;
      line-height:13px;
      color:#cecece;
      padding-left:0px;
    }
}

.navdrawer-container.open {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.app-bar,
.navdrawer-container.opened,
main {
  -webkit-transition: -webkit-transform 0.3s ease-out;
          transition: transform 0.3s ease-out;
}

.navdrawer-container h4,
.navdrawer-container ul li a {
  height: 50px;
  padding: 14px 14px; 
  line-height: 1.4;
  
}

.navdrawer-container h4 {
  background-color: white;
  background-color: $hc-blue;
  text-transform: uppercase;
}

.navdrawer-container ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navdrawer-container ul li a, .navdrawer-container ul li a.active  {
  display: block;
  text-decoration: none;
  color: rgb(206, 206, 206);
  -webkit-transition: background-color 0.2s ease-out;
          transition: background-color 0.2s ease-out;
  white-space: nowrap;
  border: 1px solid #4f4f4f;
}

.navdrawer-container ul li {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: white;
  padding: 0;
}

.navdrawer-container ul li::before {
  content: none;
}

.navdrawer-container ul li.expanded{
  list-style: none;
}

.navdrawer-container ul li.expanded > a::after{
  content: " \f0d7";
  font-family: FontAwesome;
}
.navdrawer-container ul ul.sub-menu, .navdrawer-container ul li.expanded ul{
  display: none;
  position:relative;
  z-index: 100;
  background: linear-gradient(#545454 4.5%, #484848);
  a{
    font-size:11px;
    padding:8px;
    padding-left:20px;
    padding-right:15px;
    height: auto;
    text-transform: none;
  }
}
.navdrawer-container ul li a:hover {
  background: linear-gradient(#2a2a2a 4.5%, #343434)
}

.navdrawer-container ul li:hover .sub-menu, .navdrawer-container ul li.expanded:hover ul {
  display: block;
}

.navdrawer-container ul li a:focus {
  background-color: rgba(255, 255, 255, 0.3);
  outline: 0;
}

.navdrawer-container ul li a:active {
  background-color: rgba(255, 255, 255, 0.4);
}

#container main{ display: flex;}

main {
  
  margin: 0 auto;
  /* Height of the header */
  padding: 60px 16px 16px 16px;
  min-height: 100%;
  background-color: white;
  display: -webkit-flex;
  display: flex;
    flex-flow: row wrap;

}

.home-box{
  flex:1;
  min-width: 275px;
  margin:5px;
  font-size:15px;
  line-height: 18px;
  border-top: 10px solid $light-gray;
}

.slider{
  display: flex;
  flex-flow: wrap;
  padding: 10px;
  margin-right: -10px;
}

.slider li::before{
  content: none;
}

.slider li{
  padding:0px;
  margin-bottom: 10px;
    flex:1;
  min-width: 200px;
  margin-right: 10px;
  img{
    width: 100%;
  }
}

.slider li:first-child{
  min-width: 80%;
  /*max-width:20%;*/
  flex:2;
}

footer
{
  background-color: #1C1C1C;
  background-color: $dark-gray;
  background: linear-gradient(#2a2a2a 4.5%, #343434);
  color: #999;
  margin-bottom: 100px;
  text-align: center;
  vertical-align: middle;
  padding-top:21px;
  padding-bottom:21px;
  border-radius: 0 0 5px 5px;
  font-size:14px;
  a{
    color: $hc-blue;
    text-decoration: none;
  }
}

@media all and (min-width: 602px) {
  .home-box{
    border-top: none;
  }
}

/** Larger Screens - desktops and tablets **/
/****************************************************************************************/
/****************************************************************************************/
/****************************************************************************************/
@media all and (min-width: 962px) { /*962*/
  .app-bar {
    position: relative;

  }
  .navdrawer-container ul ul.sub-menu, .navdrawer-container ul li.expanded ul{
    display: none;
    position:absolute;
    z-index: 100;
    background: linear-gradient(#424242 4.5%, #363636);
    li a{
      padding-left:8px;
      border-radius: 0px;
      border-width: 1px 0 1px 0;
    }
  }

  #container{
    width:962px;
    margin: 0px auto;
  }
  .app-bar.open,
  .app-bar.open ~ main {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
  
  .search-box label{
    display: none;
  }
  
 

  .app-bar-container {
    display: block;
    height: 130px;
    
    padding: 0;
    box-sizing: border-box;
    background: transparent;
  }

  .app-bar .logo {
    float: left;
    margin: 0;
    padding: 0;
    line-height: 130px;
    font-size: 46px;
  }
  .app-bar .logo-img {
        margin-top:35px;
        width:auto;
  }

  .app-bar-actions {
    float: right;
  }

  .app-bar::after {
    content: ' ';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }

  button.menu {
    display: none;
  }

  .navdrawer-container {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: none;
            transition: none;
    overflow-y: visible;
    border: .5px solid #4f4f4f;
    border-radius: 6px 6px 0 0;

    
  }

  .navdrawer-container h4 {
    display: none;
  }

  .navdrawer-container ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    
    margin: 0;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .navdrawer-container ul li {
    border: none;
    border-right: 1px solid #000;
    
  }

  .navdrawer-container ul li:first-child a {
    border-radius: 6px 0 0 0;
  }

  .navdrawer-container ul li:last-child {
    border: none;

    form{
      border-radius: 0 6px 0 0;
    }
  }

  .search-box{
    /*width: 260px;*/
  }

  main {
    padding-top: 10px;
    min-height: initial;
  }
  
  footer{
      box-shadow: 0px 20px 17px -10px rgba(0,0,0,0.75);

  }

  body {
    overflow-y: scroll;
  }
}

